body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}
  
.buttons {
    border: 0;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #eaeaea;
    border-radius: 20px;
    background-color: rgb(32, 32, 32);
    height: 40px;
}
  
.buttons:hover {
    
    background-color: rgba(22, 84, 136, 0.911);
    
}
.buttons:focus
{ 
    outline:none 
}
  
  
  
.header{
    padding: 0 30px;
    align-items: center;
    
    height: 100px;
    background: #eaeaea;
    display: flex;
}
.right-buttons{
    display: flex;
    width:50%;
    /*background: rgb(32, 32, 32);*/
    justify-content: flex-end;
  
}
.left-news{
    width:50%;
    justify-content: flex-start;
}
  
.aggregator{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30pt;
    font-weight: bold;
}
  
  
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
}
.popup-inner {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    margin: auto;
    background: white;
    padding: 0 20px;
}
  
.form-style{
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

.input{
  margin: 5px;


}

.text{
    color:grey;
}