@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

body {
    margin: 0;
    /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;*/
    font-family: 'Rubik';
  }
  
.buttons {
    border:0;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: dimgray;
    border-radius: 10px;
    height: 40px;
    transition: all 0.2s ease;
    background-color: inherit;
    
}
  
.buttons:hover {
    background-color: whitesmoke;
    color:black;
    
    
}
.buttons:focus
{ 
    outline:none 
}
  
.header{
    padding: 0 30px;
    align-items: center;
    height: 100px;
    background: white;
    display: flex;
}
.right-buttons{
    display: flex;
    width:50%;
    /*background: rgb(32, 32, 32);*/
    justify-content: flex-end;
  
}
.left-news{
    width:50%;
    justify-content: flex-start;
}
  
.aggregator{
    font-size: 30pt;
    font-weight: bold;
}
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.8);
}
.popup-inner {
    position: absolute;
    left: 5%;
    right: 5%;
    top: 5%;
    bottom: 5%;
    margin: auto;
    background: white;
    padding: 0 20px;
}
  
.form-style{
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

fieldset{
    padding: 20px;
    margin: 60px;
    font-family: 'Rubik';
}

input{          /*    email и пароль   */
    border-radius: 4px;
    height: 40px;
    width: 400px;
    margin: 10px;
    border: 2px solid silver;
    font-size: 1rem;
}
input:focus{
    outline:none;
    border: 2px solid dimgray;
}




.news-grid{                  /*   body    новости  */
    display: flex; 
    flex-wrap: wrap;
    padding: 20px 20px;
    background-color: #F4F4F4;
    grid-column: 10px;
    grid-row: 10px;
}

.news-grid-item{
    width: 300px;
    height: 200px;
    position: relative;
    background: center / cover linear-gradient(180deg, royalblue 6%, rgb(220, 220, 220) 100%); ;
    border-radius: 9px; 
    margin: 10px;
}

.news-grid2{
    
    padding: 1rem 2rem;
    display: grid;
    background-color: Gainsboro;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
}

.news-grid-item2{
    width: 300px;
    height: 200px;
    background-color: #3f212159;
    background: center / cover url(./img/nonews.png) ;
    border-radius: 9px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 300px);
    position: relative;
    margin: 10px;
}

@media (max-width: 720px) {
    .news-grid-item {
      width: 50%;
    }
}

.news-description {
    padding: 1rem;
    margin:0;
    border-radius: inherit;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(
        to bottom, 
        rgba(0,0,0,1) 1%,
        rgba(25, 25, 112,1) 50%,
        rgba(0,0,0,0) 100%
);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s, visibility .3s;
}
.favourite{
    position: absolute;
    bottom: 0;
    color: black;
    font-size: 20px;
}
.news-grid-item:hover .news-description {
    visibility: visible;
    opacity: 1;
  }


  

  