
header{
  
  background: #eaeaea;
  display: display-outside;
  align-items: center;
  justify-content: center;


}

.authorize {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: white;
    border-radius: 20px;
    /*background-color: rgb(32, 32, 32);*/
    }

.authorize:hover {
    
    background-image: linear-gradient(to bottom yellow,black);
}

 
div{
    display: flex;
    align-items: center;
    justify-content: center;
}
